$color:#2380f4;
$color2:rgb(160, 201, 243);
$color3:#c6e0fb;

*{
  margin:0;
  padding:0;
  font-family: Arial;
}
html,body{
  height:100%;
  position:relative;
}
ul,li{
  list-style:none;
}

.top{
  height:120px;
  background: $color;
  line-height:120px;
}
.top h1{
  font-size: 40px;
  color:#eee;
  padding-left:20px;
}
.main {
  overflow: hidden;
  position:absolute;
  width:100%;
  bottom:0;
  top:120px;
}
.main .list{
  width:200px;
  height:100%;
  background:$color3;

}
.main .list .tit{
  height:80px;
  font-size: 20px;
  line-height: 80px;
  text-align: center;
}
.main .list .tit .fa {
  margin-right:6px;
}
.main .list a{
  display:block;
  height:60px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
}
.main .list a:hover{
  background:#eee;
}
.main .container{
  position: absolute;
  top:0;
  right:0;
  left:200px;
  height:100%;
}
.main .container .box{
  padding:30px;
  overflow:hidden;
}
.home,.form{
  display:none;
}
.dataContainer{
  display:none;
}
.user{
  position: relative;
}
.user .search{
  height:40px;
  overflow:hidden;
  line-height:30px;
}
.user .search #keyword{
  height:30px;
  width:180px;
  text-indent: 0.5em;
  float: left;
  border:1px solid #ccc;
}
.search .fa{
  margin-left:10px;
  font-size: 18px;
  float: left;
  height:30px;
  line-height:30px;
  cursor:pointer;
}

.select{
  height:30px;
}
.select,option{
  background:none;
  margin-left:30px;
  outline:none;
  font-size: 16px;
  cursor:pointer;
  border:none;
}
.user .search .search_click{
  float: left;
  margin-left:10px;
  width:28px;
  height:28px;
  background-size:100%;
  cursor:pointer;
}
.user .table{
  overflow: hidden;
}
.user .table table{
  border:1px solid #aaa;
  border-collapse: collapse;
  width: 100%;
}

.user .table table thead tr{
  background:#e6eefa;
  font-size: 16px;
}
.user .table table tbody tr:nth-child(even){
  background:#f7f9fd;
}
.user .table th,.user .table td{
  padding:8px 10px;
}
table{
  table-layout:fixed;
}
tr{
  height:36px;
}
.table_box tr{
  height:40px;
}
.th1{
  width:10%;
}
.th2{
  width:20%;
}
.th3{
  width:20%;
}
.th4{
  width:20%;
}
.th5{
  width:10%;
}
.fenlei{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.fenlei_1{
  font-style: italic;
}
.td1{
  width:20%;
}
.td2{
  width:30%;
}
.user .table .especial{
  padding:4px 10px;
}
.user .table .blue{
  color: #2c65ff;
  cursor: pointer;
}
.user .table th{
  text-align: left;
}

.change_page{
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  background:#f0f6fd;
  overflow: hidden;
  height:50px;
  line-height: 54px;
  padding-left:30px;
  -webkit-user-select: none;
}
.change_page ul{
  overflow: hidden;
}
.change_page  li{
  color:#333;
  float: left;
  padding:0 6px;
  cursor:pointer;
  font-size: 16px;
  margin-right:4px;
}
.change_page  b{
  font-weight: 100;
}

.change_page  #page{
  width:30px;
  height:20px;
  border:1px solid #aaa;
  text-align: center;
}
#goTo{
  background:$color;
  padding:3px 12px;
  color:#fff;
}
.change_page .shell #pages{
  border:none;
  padding:0;
}
.change_page .shell #pages .page{
  margin:0 4px;
}
.forms{
  overflow: scroll;
  position:fixed;
  display:none;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  z-index:200;
}
.table_box{
  position: absolute;
  top:20px;
  width:60%;
  padding:1.5%;
  background:#fff;
  left:50%;
  margin-left:-30%;
  td{
    border:1px solid #ccc;
  }
}
.exit{
  cursor:pointer;
  margin-top:60px;
}


@media screen and (max-width:1400px){
  .table_box{
    width:80%;
    margin-left:-41.5%;
  }
}
@media screen and (max-width:1112px){
  body{
    width:1112px;
  }

}

